@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');
@import "variables.css";

/* Owl Carousel */
.owl-carousel-wrapper {
  height: 30vh;
}

/* Owl Carousel */
/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fas:not(.fa-search) {
  color: var(--text-color-light);
  margin-right: 1.3rem;
  margin-left: .5rem;
}

.far {
  color: var(--text-color-light);
  margin-right: 1.3rem;
  margin-left: .5rem;
}

.slider-icon {
  margin-left: 0;
}

.playlist .fa-plus-circle {
  color: var(--text-color-light);
  margin-left: 7rem;
}

.fa-circle {
  font-size: 8px;
}

.icon {
  font-size: 1.rem;
  color: var(--text-color-white);
}

.fa-caret-right, .fa-caret-left {
  font-size: 1.5rem;
  display: inline-block;
  justify-self: end;
}

.fa-caret-right {
  color: var(--text-color-white);
}

.fa-search {
  cursor: pointer;
}

html {
  background-color: var(--body-color-light-gray);
}

body {
  box-sizing: border-box;
  height: 100%;
  font-family: 'lato', sans-serif;
  background: var(--body-color-light-gray);
}

hr.style-two {
  padding: 1.6rem 0 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

li:hover i,
li:hover {
  color: var(--text-color-white);
}

li:hover, .music-table-li:not(:hover) {
  border-right: 4px solid var(--text-color-white);
  cursor: pointer;
}

.title-list:hover {
  color: var(--text-color-light);
  border: 0;
  cursor: auto;
}

.left-side .playlist .fa-plus-circle:hover {
  color: var(--text-color-white);
  cursor: pointer;
}

.music-table .music-table-li {
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: auto;
}

.music-table .music-table-li .song-name-2 {
  margin-left: -5px;
}

.music-table .music-table-li .song-name-3 {
  margin-left: -20px;
}

.music-table .music-table-li .song-name-4 {
  margin-left: -10px;
}

.music-table .music-table-li .artist-name-4 {
  margin-left: 15px;
}

.music-table .mg-left {
  margin-left: 1rem;
}

/* GLOBAL STYLES */
/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 1290px;
}

/* WRAPPER */
/* LEFT SIDE DIV STYLES */
.left-side {
  background-color: var(--left-side-color);
  color: var(--text-color-light);
}

.left-side ul {
  display: block;
  list-style: none;
  width: 100%;
}

.left-side ul .section ul li {
  margin-left: 0;
}

.left-side ul li {
  padding: 1rem;
  margin-left: 1rem;
}

.section {
  margin: 1.5rem 0;
}

/* profile */
.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  margin-top: 1.5rem;
  cursor: pointer;
}

.profile__picture {
  justify-self: end;
  background-image: url("../img/profile-picture.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.profile__name {
  font-size: 1.1rem;
  color: var(--text-color-white);
  margin: 0;
}

.profile__name:hover {
  cursor: pointer;
}

.profile__premium {
  display: inline-block;
  padding: .2rem;
  margin: .6rem 0 0;
  color: var(--text-color-light);
  border: 2px solid var(--text-color-light);
  border-radius: .3rem;
}

.profile__premium:hover {
  color: var(--text-color-dark);
  background-color: var(--text-color-white);
  border: 2px solid var(--text-color-dark);
  cursor: pointer;
}

/* profile */
/* LEFT SIDE DIV STYLES */
/* RIGHT SIDE DIV STYLES */
.right-side {
  display: grid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .7) 100%), url("../img/bg-picture.png") center center no-repeat;
  background-size: cover;
}

/* top section */
.top-section {
  display: grid;
  grid-template-rows: 150px;
  margin-left: 3rem;
}

.top-section-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.search-box {
  color: var(--text-color-light);
  width: 40%;
}

.search-box label {
  width: 100%;
}

.search-box .fa-search {
  width: 5%;
}

.search {
  font-size: 1rem;
  color: var(--text-color-light);
  width: 89%;
  background-color: rgba(255, 255, 255, .0);
  border: none;
  outline: none;
}

.search::placeholder {
  color: var(--text-color-light);
  font-size: 1rem;
}

.sponser {
  margin-right: 4rem;
}

.sponser p {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid var(--text-color-light);
  border-radius: 7px;
  padding: .7rem;
  background-color: var(--text-color-white);
}

.sponser p:hover {
  color: var(--text-color-white);
  background-color: var(--text-color-dark);
  cursor: pointer;
  border: 1px solid var(--text-color-dark);
}

.top-section-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-text {
  font-weight: 300;
  color: var(--text-color-white);
  justify-self: start;
}

.intro-text span {
  display: block;
  font-size: 2.9rem;
  line-height: 4rem;
  word-spacing: .2rem;
}

.intro-slider {
  margin-right: 4rem;
  line-height: 2rem;
}

/* top section */
/* middle section */
.middle-section {
  display: block;
  margin-left: 4rem;
}

.middle-section h1 {
  margin-bottom: 1rem;
}

.middle-section h1 .little-title {
  display: block;
  font-size: 1rem;
  color: var(--text-color-light);
}

.middle-section h1 .big-title {
  display: block;
  font-size: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-color-white);
}

.middle-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.middle-section__title p {
  margin-right: 4rem;
  cursor: pointer;
}

.middle-section__title p span {
  cursor: pointer;
}

.middle-section__title p span:first-child {
  margin-right: .5rem;
}

.middle-section__title p span:last-child {
  margin-left: .5rem;
}

.middle-section__featured {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  margin-left: -2rem;
  width: 80vw;
}

/* Items */
.middle-section__featured .middle-section__img {
  height: 150px;
}

.middle-section__featured .img-1 {
  background: url("../img/blue_moon.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-2 {
  background: url("../img/cold_water.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-3 {
  background: url("../img/discover_2.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-4 {
  background: url("../img/discover.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-5 {
  background: url("../img/love_me_like_you_do.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-6 {
  background: url("../img/lovers.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-7 {
  background: url("../img/num_2.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.middle-section__featured .img-8 {
  background: url("../img/num.png") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

/* Items */
.middle-section__featured-song .music-name {
  display: block;
  font-size: 1rem;
  color: var(--text-color-white);
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.middle-section__featured-song .artist-name {
  display: block;
  font-size: 1rem;
  color: var(--text-color-light);
}

/* middle section */
/* bottom section */
.bottom-section {
  display: block;
  margin-left: 4rem;
}

.bottom-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-section h1 {
  margin-bottom: 2rem;
}

.bottom-section h1, .little-title {
  display: block;
  font-size: 1rem;
  color: var(--text-color-light);
}

.bottom-section h1, .big-title {
  display: block;
  font-size: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-color-white);
}

.bottom-section p {
  margin-right: 4rem;
}

.bottom-section__hit-songs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.bottom-section p, .little-title {
  display: block;
  font-size: 1rem;
  color: var(--text-color-light);
}

.bottom-section p, .big-title {
  display: block;
  font-size: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-color-white);
}

.music-table ul {
  margin-top: 3rem;
}

.music-table ul li {
  list-style-type: none;
  color: var(--text-color-light);
  line-height: 3rem;
}

.music-table ul .bg-black {
  background-color: var(--text-color-dark);
  padding: 0 1rem;
  width: 102%;
}

.today-hit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-right: 4rem;
}

.today-hit-boxes {
  margin-top: 3rem;
  border-radius: 10px;
}

.today-hit-boxes h3 {
  padding-top: 2.5rem;
  padding-left: 1.5rem;
}

.today-hit-boxes .first-text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: block;
  color: var(--text-color-white);
  margin-bottom: .5rem;
}

.box-1 {
  background: url(../img/today_hit_1.png) center center no-repeat;
  background-size: cover;
}

.today-hit-boxes .second-text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: block;
  color: var(--text-color-white);
  margin-bottom: .5rem;
}

.box-2 {
  background: url(../img/today_hit_2.png) center center no-repeat;
  background-size: cover;
}

.today-hit-boxes .time {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3rem;
  display: block;
  color: var(--text-color-white);
}

.box-3 {
  background: url(../img/today_hit_3.png) center center no-repeat;
  background-size: cover;
}

/*********************************************************** MEDIA QUERIES *******************************************************/
/********** Laptop Large ***********/
@media only screen and (max-width: 1440px) {

  /*** Left side ***/
  .left-side .playlist .fa-plus-circle {
    margin-left: 15px;
    margin-right: 0;
  }

  /*** Right side ***/
  /* profile */
  .profile {
    display: flex;
    justify-content: space-around;
  }

  .profile__picture {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }

  /* Bottom Section */
  .bottom-section__hit-songs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .today-hit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

/********** Laptop Small ***********/
@media only screen and (max-width: 1280px) {

  /*** Left side ***/
  .left-side .playlist .fa-plus-circle {
    margin-left: 20px;
    margin-right: 0;
  }

  /*** Right side ***/
  /* profile */
  .profile__picture {
    width: 55px;
    height: 55px;
  }

  .profile__name {
    font-size: .8rem;
  }

  .profile__premium {
    font-size: .8rem;
  }

  /* Bottom Section */
  .bottom-section__hit-songs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .today-hit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

/********** Tablet landscape ***********/
@media only screen and (max-width: 1200px) {

  /*** Wrapper ***/
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*** Left side ***/
  .wrapper .left-side {
    display: none;
  }

  /*** Right side ***/
  .wrapper .right-side {
    height: 1400px;
  }

  /* Top Section Search */
  .top-section {
    display: grid;
    margin: 0 2rem;
  }

  .top-section-search {
    display: flex;
    align-items: center;
  }

  .top-section-search .search-box .fa-search {
    width: 10%;
  }

  .top-section-search .search-box .search {
    width: 86%;
  }

  .top-section-search .sponser {
    margin-right: 0;
  }

  .top-section-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-section-intro .intro-text {
    width: 50%;
  }

  .top-section-intro .intro-slider {
    width: 2%;
    margin-right: 0;
  }

  /* Middle Section */
  .middle-section {
    margin: 90px 2rem 0;
    width: 94vw;
  }

  .middle-section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .middle-section__title h1 {
    width: 50%;
    margin-bottom: 0;
  }

  .middle-section__title h1 .little-title {
    font-size: 1rem;
  }

  .middle-section__title h1 .big-title {
    font-size: 2rem;
  }

  .middle-section__title p {
    margin-right: -10px;
  }

  .middle-section__featured {
    width: 90vw;
    margin: 0 auto;
  }

  .middle-section__featured .middle-section__img {
    height: 130px;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
  }

  /* Bottom Section */
  .bottom-section {
    margin-left: 0;
    margin: 0 2rem 0;
  }

  .bottom-section__title h1 {
    margin-bottom: 0;
  }

  .bottom-section__title h1 .little-title {
    font-size: 1rem;
  }

  .bottom-section__title h1 .big-title {
    font-size: 2rem;
  }

  .bottom-section__title p {
    margin-right: 0;
  }

  .bottom-section__title p .little-title {
    font-size: 1rem;
  }

  .bottom-section__title p .big-title {
    font-size: 2rem;
  }

  .bottom-section__hit-songs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  /* Music Table */
  .bottom-section__hit-songs .music-table {
    width: 100%;
  }

  .bottom-section__hit-songs .music-table ul {
    width: 100%;
    margin-top: 2.5rem;
  }

  .bottom-section__hit-songs .music-table ul .first-item {
    margin-left: 15px;
  }

  .bottom-section__hit-songs .music-table ul .third-item {
    margin-left: 15px;
  }

  .bottom-section__hit-songs .music-table ul .time-1 {
    margin-right: 15px;
  }

  .bottom-section__hit-songs .music-table ul .time-3 {
    margin-right: 15px;
  }

  .music-table ul .mg-left {
    width: 100%;
    margin-left: 0;
  }

  .music-table ul .bg-black {
    width: 100%;
  }

  /* Today's Hit */
  .bottom-section__hit-songs .today-hit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    width: 100%;
  }

  .today-hit-boxes h3 .first-text {
    font-size: 1rem;
  }

  .today-hit-boxes h3 .second-text {
    font-size: 1rem;
  }
}

/********** Tablet portrait ***********/
@media only screen and (max-width: 900px) {

  /* Wrapper */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*** Left side ***/
  .wrapper .left-side {
    display: none;
  }

  /*** Right side ***/
  .wrapper .right-side {
    height: 1600px;
  }

  /* Top Section Search */
  .top-section {
    display: grid;
    margin: 0 2rem;
  }

  .top-section-search {
    display: flex;
    align-items: center;
  }

  .top-section-search .search-box .fa-search {
    width: 10%;
  }

  .top-section-search .search-box .search {
    width: 86%;
  }

  .top-section-search .sponser {
    margin-right: 0;
  }

  .top-section-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
  }

  .top-section-intro .intro-text {
    width: 50%;
  }

  .top-section-intro .intro-text h1 span {
    font-size: 2.5rem;
  }

  .top-section-intro .intro-slider {
    width: 2%;
    margin-right: 0;
  }

  /* Middle section */
  .middle-section {
    margin: 10px 2rem 0;
    width: 90vw;
  }

  .middle-section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .middle-section__title h1 {
    width: 50%;
    margin-bottom: 0;
  }

  .middle-section__title h1 .little-title {
    font-size: 1rem;
  }

  .middle-section__title h1 .big-title {
    font-size: 2rem;
  }

  .middle-section__title p {
    margin-right: -15px;
  }

  .middle-section__featured {
    width: 90vw;
    margin: 0;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
  }

  /* Bottom Section */
  .bottom-section {
    margin-left: 0;
    margin: 0 2rem 0;
  }

  .bottom-section__title h1 {
    margin-bottom: 0;
  }

  .bottom-section__title h1 .little-title {
    font-size: 1rem;
  }

  .bottom-section__title h1 .big-title {
    font-size: 2rem;
  }

  .bottom-section__title p {
    margin-right: 0;
  }

  .bottom-section__title p .little-title {
    font-size: 1rem;
  }

  .bottom-section__title p .big-title {
    font-size: 2rem;
  }

  .bottom-section__hit-songs {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Music Table */
  .bottom-section__hit-songs .music-table {
    width: 100%;
  }

  .bottom-section__hit-songs .music-table ul {
    width: 100%;
    margin-top: 2.5rem;
  }

  .bottom-section__hit-songs .music-table ul .first-item {
    margin-left: 15px;
  }

  .bottom-section__hit-songs .music-table ul .third-item {
    margin-left: 15px;
  }

  .bottom-section__hit-songs .music-table ul .time-1 {
    margin-right: 15px;
  }

  .bottom-section__hit-songs .music-table ul .time-3 {
    margin-right: 15px;
  }

  .music-table ul .mg-left {
    width: 100%;
    margin-left: 0;
  }

  .music-table ul .bg-black {
    width: 100%;
  }

  /* Today's Hit */
  .bottom-section__hit-songs .today-hit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 220px;
    grid-gap: 5px;
    margin: 0 auto;
    width: 100%;
  }

  .today-hit-boxes h3 .first-text {
    font-size: 1rem;
  }

  .today-hit-boxes h3 .second-text {
    font-size: 1rem;
  }
}

/********** Phone ***********/
@media only screen and (max-width: 600px) {

  /*** Wrapper ***/
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*** Left side ***/
  .wrapper .left-side {
    display: none;
  }

  /*** Right side ***/
  .wrapper .right-side {
    height: 2200px;
  }

  /* Top section search */
  .top-section {
    display: grid;
    grid-template-rows: 150px 250px;
    margin-left: 0;
  }

  .top-section-search {
    display: grid;
    grid-template-columns: 1fr;
  }

  .top-section-search .search-box {
    width: 90%;
    margin: 0 20px;
  }

  .top-section-search .search-box .fa-search {
    width: 10%;
  }

  .top-section-search .search-box .search {
    width: 86%;
  }

  .top-section-search .sponser {
    display: none;
  }

  .top-section-intro {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .top-section-intro .intro-text {
    width: 90%;
    margin: 0 20px;
  }

  .top-section-intro .intro-text h1 span {
    font-size: 2.5rem;
  }

  .top-section-intro .intro-slider {
    display: none;
  }

  /* Middle section */
  .middle-section {
    margin: 200px 20px 0;
    width: 90%;
  }

  .middle-section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }

  .middle-section__title h1 {
    width: 50%;
  }

  .middle-section__title h1 .little-title {
    font-size: 1rem;
  }

  .middle-section__title h1 .big-title {
    font-size: 2rem;
  }

  .middle-section__title p {
    margin-right: 10px;
  }

  .middle-section__featured {
    width: 80vw;
    margin-left: 10px;
  }

  /* Items */
  .middle-section__featured .middle-section__img {
    height: 200px;
  }

  /* Items */
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
  }

  /* Bottom Section */
  .bottom-section {
    margin-left: 0;
    margin-top: 300px;
  }

  .bottom-section__title h1 {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .bottom-section__title h1 .little-title {
    font-size: 1rem;
  }

  .bottom-section__title h1 .big-title {
    font-size: 2rem;
  }

  .bottom-section__title p {
    margin-right: -10px;
  }

  .bottom-section__title p .little-title {
    font-size: 1rem;
  }

  .bottom-section__title p .big-title {
    font-size: 2rem;
  }

  .bottom-section__hit-songs {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Music Table */
  .bottom-section__hit-songs .music-table {
    width: 90%;
    margin: 0 25px;
  }

  .music-table ul .mg-left {
    width: 100%;
  }

  .music-table ul .bg-black {
    width: 100%;
  }

  .bottom-section__hit-songs .music-table ul {
    width: 100%;
  }

  /* Today's Hit */
  .bottom-section__hit-songs .today-hit {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 210px;
    grid-gap: 5px;
    margin: 0 25px;
    width: 95%;
  }

  .today-hit-boxes h3 .first-text {
    font-size: 1rem;
  }

  .today-hit-boxes h3 .second-text {
    font-size: 1rem;
  }
}