:root {
    --text-color-light: #6d6e70;
    --text-color-dark: #000;
    --text-color-white: #fff;
    --body-color-light-gray: #e2e2e2;
    --left-side-color: #0A0A0A;
    --bg-img-gradient-color: #000;
    --bg-music-color: #0c0e1f;
}